@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn .25s ease-out;
}

dialog::backdrop {
    background-color: black;
    opacity: .75;
}